// Non-modular or client styles for .l-footer region.

.l-footer {
}

.l-footer-columns {
    background-image: url(../images/contact.jpg);
  .footer-second { 
      
    .node-webform {
      margin-top: 30px;
      margin-bottom: 60px;    

      .node-title {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: 'DinRegular';
          a {
            color: $text;
            letter-spacing: 1.5px;
          }
      }
        
      .webform-client-form
      {
        margin: 0 60px;

        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="week"],
        input[type="email"],
        input[type="number"],
        input[type="search"],
        input[type="tel"],
        input[type="time"],
        input[type="url"],
        textarea{
            background-color: rgba(255, 255, 255, .4);
            border:0px;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: $text;
            &:focus {
              border: 1px solid #B9AEA1;
            }
        }
        ::-webkit-input-placeholder {
           color: #7F756B;
        }

        :-moz-placeholder { /* Firefox 18- */
           color: #7F756B;  
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: #7F756B;  
        }

        :-ms-input-placeholder {  
           color: #7F756B;  
        }
        input[placeholder]{
            color:#7F756B;
            font-family: 'DinLight', sans-serif;
            letter-spacing: 1.2px;
        } 
        .webform-component--brochure---werkwijze,
        .webform-component--prijs---project---info {
          height: 35px;
          padding: 10px 0px;
          border: 1px solid #B9AEA1;
          background-color: rgba(255, 255, 255, .4);
          font-family: 'DinLight', sans-serif;
          text-transform: uppercase;
          font-size: 1rem;
          color: $text; 
          letter-spacing: 1.2px;
          &:hover {
            background-color: rgba(255, 255, 255, .6);
          }    
          .form-checkboxes {
            visibility: hidden;
            position: relative;
            top: -20px;  
          }    
          label.option {
            display: none;
          }
        }  
        textarea {
          height: 10em;
          font-family: 'Times New Roman', serif;
          font-style: italic;
          letter-spacing: 1.2px;
          text-align: center;        
        }
        button.form-submit,
        button.webform-submit,
        button.secondary,
        .button.secondary{
            border: 1px solid #B9AEA1;
            background-color: rgba(255, 255, 255, .4);
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow:none;
            font-family: DinLight, sans-serif;
            text-transform: uppercase;
            width: 100%;
            font-size: 0.8rem;
            color: $text;
            &:hover {
              background-color: rgba(255, 255, 255, .7);
              border: 1px solid #7F756B;    
            }
        }  
        
      }
    }
      
    .block-block {
        
        p:nth-child(2) {
          span>span>span:first-child>a {
          margin-top: 20px;
          display: inline-block;
              
            #at_areau {
              position: relative;
              top: -0.8px;    
            }  
          }
        }
        
        p:nth-child(3) {
          padding-top: 120px;
          padding-bottom: 15px;    
        }
        
    }  
  }
}

@media #{$small} {

  .l-footer-columns {
   .footer-second { 
      
    .node-webform {
      .webform-client-form
      {
        margin: 0 100px; 
      }
    }
   }
  }
}