// Non-modular or client styles for .l-header region.

.l-header {
  .navigation {
    //height: 70px;
    padding: 0px;
    #main-menu-links {
      float: left;
      width: 100%;
      margin-bottom: 1.5%;  
      margin-top: 1.5%;  
    }
    .inline-list {
      margin: 0 auto;
      text-align: center;
      li {
        width: 100%; //14.2
        margin-left: 0px;  
        a {
          color: $text;
          font-family: 'DinRegular';    
          text-transform: uppercase;
          padding: 5px;
          font-size: 0.7rem;
          background-color: #EAE9E9;
          letter-spacing: 2px;

          &:hover {
            text-decoration: underline;
          }
          &.active-trail {
            background-color: #F3F3F2;
          }
        }
      }
      .menu-671 { //midden
        display: none;
        a {
          text-indent: -9999px;
          background-image: url(../images/AAlogo.png);
          background-color: transparent !important;
          background-repeat: no-repeat;
          background-size: 50px;
          background-position: center;
          height: 50px;
          width: 50px;
        }
      }
      .menu-719 { //top
        display: inline-block;
        height: 70px;  
        a {
          display: inline-block;    
          margin-right: 60%;
          margin-bottom: 15px;
          text-indent: -9999px;
          background-image: url(../images/AAlogo.png);
          background-color: transparent !important;
          background-repeat: no-repeat;
          background-size: 50px;
          background-position: left;
          height: 50px;
          width: 50px;    
        }
        .hamburger {
          display: inline-block;
          width: 35px;
          margin-top: 22px; 
          cursor: pointer;
          &:hover {
            opacity: 0.6;
          }    
        }
      }
    }
  }
}

@media #{$small} {

  .inline-list > li {
    margin-left: 0.5em;
  }
  .l-header {
    .navigation {
      #main-menu-links {
        float: left;
      }
      .inline-list {
        margin: 0 auto;
        width: 100%;
        .menu-671 { //logo
          background-size: 50px auto;
          background-position: center center;
          height: 50px;
          margin: 10px 0px;
        }
        .menu-719 {
          display: none;
        }
        .menu-671 { //midden
          display: inline-block;
          a {
            margin: 0 auto 10px;
          }
        }
        li {   
          a {
            background-color: transparent; 
            font-size: 0.55rem;  
          }
          width: 14.2%; //14.2
          float: left;
        }
        //width verdeling percentages  
        li:nth-child(2)
        {
          width: 17.2%;
        }
        li:nth-child(3),
        li:nth-child(4)  
        {
          width: 12.2%;
        }  
        li:nth-child(6)
        {
          width: 13.2%;
        }
        li:nth-child(7)
        {
           width: 19.2%; 
        }
        li:nth-child(8)
        {
           width: 10.2%; 
        }
        li:nth-child(2),  
        li:nth-child(3),
        li:nth-child(4),
        li:nth-child(6),
        li:nth-child(7),
        li:nth-child(8)
        {
            padding: 20px 0px;
        }
      }
    }
  }
}

@media #{$medium} {

    .l-header {
      .navigation{
        .inline-list {
          li {
            a 
            {
              font-size: 0.7rem;  
            } 
          }
        }
      }
    }
}

// Top Bar
//--------------------------------------------------
.top-bar {
  .title-area {
  }
}

.top-bar-section {
}

.top-bar-section .left {
}

.top-bar-section .right {
}
