.front {
  .views-row {
    position: relative; 
    opacity: 0.9;
	transition: all 2s ease;  
    margin-bottom: $column-gutter/2;
    .views-field-field-foto-tekst {
      -webkit-opacity: 0.25;
      -moz-opacity: 0.25;
      opacity: 0.15;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      position: absolute;
	  top: 25%;
      height: 50%;    
	  width: 80%;
      left: 10%;
	  background: rgba(255, 255, 255, .4);
	  color: $text;
      letter-spacing: 1.5px;    
           
      p {
        padding: 10% 10%;
        margin-bottom: 0;
        text-align: left;	
        opacity: 1;
        text-align: center;
        font-size: 0.8rem;
        em {
          font-size: 0.7rem;
          letter-spacing: 0px;       
        }  
      }
      p:nth-child(2),
      p:nth-child(3) {
        display: none;
      }      

    }
    &:hover .views-field-field-foto-tekst {
      opacity: 1;
    }
  }
}

.view-woonentiteiten .views-row{
  position: relative;
  .views-field-field-title-article-foto-midden{
    position: absolute;
    top: 8%;
    left: 65%;
    width: 30%;
    text-align: left;
  }
  .views-field-field-left-article-foto-midden{
    position: absolute;
    top: 35%;
    left: 10%;
  }
  .views-field-field-right-article-foto-midden{
    position: absolute;
    top: 27%;
    left: 65%;
    width: 30%;
    text-align: left;
    p{
      line-height: .9em;
    }
  }
  .views-field-field-bottom-article-foto-midden{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 89.7%;
    p{
      line-height: .9em;
    }
  }
  .views-field-field-intro-2small-images{
  	position: absolute;
  	top: 1.1%;
  	left: 51.7%;
  	text-align: left;
  	p{
  		line-height: .9em;
  	}
  }
  .views-field-field-intro-onder-2small-images{
  	position: absolute;
  	top: 75%;
  	left: 51.7%;
  	text-align: left;
  	p{
  		line-height: .9em;
  	}
  	p.intro_onder{
		padding-top: 4%;
  	}
  }
  .views-field-field-intro-top-article-2fotos-b{
  	position: absolute;
  	top: 0.4%;
  	left: 51.7%;
  	text-align: left;
	p{
		line-height: .9em;
	}
  }
  .views-field-field-intro-bottom-intro-top-art{
  	position: absolute;
  	top: 16%;
  	left: 51.7%;
  	text-align: left;
  	p{
  		line-height: .9em;
  	}
  }
  .views-field-field-titel-subtitel-article-gro{
  	position: absolute;
  	top: 91%;
  	left: 61.5%;
  	width: 32%;
  	p{
  		line-height: .9em;
  	}
  }
  .views-field-field-default-article-foto-midde{
  	position: absolute;
  	top: 50%;
  	left: 62%;
  	width: 35%;
  	text-align: left;
  	p{
  		line-height: .9em;
  	}
  }
  .views-field-field-right-bottom-article-groto{
  	position: absolute;
  	top: 80%;
  	left: 60%;
  	width: 35%;
  	text-align: left;
  	p{
  		line-height: .9em;
  	}
  }
}

@media #{$small} {
    
    .views-row{

    }
    
    .front {
        .views-row {
            .views-field-field-foto-tekst {
                width: 35%;
                left: 32.5%;
                height: 70%;
                top: 15%;
                background-image: url(../images/foot.png);
                background-repeat: no-repeat;
                background-position: center 95%;
                background-size: 160px;
                p {
                  padding: 10% 30px;    
                  font-size: 1rem;
                  em {
                    font-size: 0.9rem;
                  }    
                }
                
                p:nth-child(2),
                p:nth-child(3) {
                  display: block;
                  font-size: 0rem;
                  span {
                    font-size: 0.6rem;
                  } 
                  em {
                   letter-spacing: 1.5px;
                  }    
                }
            }
        }
    }
    
}

@media #{$medium} {
    
    .front {
        .views-row {
            .views-field-field-foto-tekst {
                p {
                
                }
            }
        }
    }
    
}
