/* FONTS */
@font-face {
  font-family: 'dinregular';
  src: url('../assets/fonts/DINRegular-webfont.eot');
  src: url('../assets/fonts/DINRegular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/DINRegular-webfont.woff2') format('woff2'),
       url('../assets/fonts/DINRegular-webfont.woff') format('woff'),
       url('../assets/fonts/DINRegular-webfont.ttf') format('truetype'),
       url('../assets/fonts/DINRegular-webfont.svg#dinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* GENERAL ELEMENTS*/
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html, 
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  color: #333;
  font-family: 'dinregular';
}

/* GENERAL CLASSES */
.browserupgrade {
  background-color: #f11;
  color: #fff;
  margin: 0;
  padding: 0.8em;
  text-align: center;
}

.icon {
  display: block;
  height: 40px;
  opacity: 0.8;
  width: 40px;
  margin: 0 auto;
  text-align: center;    
}

.icon:hover {
  opacity: 1;
}

/* INTRO */
.intro {
  height: 100%;
  position: relative;
}

.intro .videoWrapper {
  background-color: #ccc;
  background-image: url("../assets/images/lightbackground.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

.intro video {
  background-color: #333;
  bottom: 0;
  display: none;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  width: auto;
}

.intro .intro_logo
{
  bottom: 50%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

#logo_large
{
    width: 250px;
}

.intro .subtitle {
  bottom: 15%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.intro .subtitle p {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 1.6em;
  font-style: italic;
  letter-spacing: 0.1em;
  color: #68645C;    
}

.icon #arrow-down {
  width: 40px;
}

/* CONTENT */
#content_wrapper
{
    padding: 5% 0px; 
    height: 100vh;
}

#wrapper
{  
  height: inherit; 
}

.content {
  overflow: hidden;    
}

.content .logo {
  margin-top: 6em;
  text-align: center;
}

.content .logo img {
  width: 120px;
}

.content .logo p {
}

.content form {
  margin: 6em auto 0;
  max-width: 500px;
  padding: 0 1em;
  text-align: center;
}

.content form label {
  display: block;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 1.3em;
  font-style: italic;
  letter-spacing: 0.1em;
  margin: 1em;
  color: #68645C;    
}

.content form input,
.content form .button {
  display: block;
  margin: 0.5em auto;
  outline: none;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.content form input {
  background-color: #fff;
}

.content form .button {
  color: #fff;
  background-color: #68645C;
  border: 2px solid #68645C;
  opacity: 0.5;
}

.content form .button:hover {
  opacity: 0.55;
}

.content form #error {
  color: #f44;
  padding: 0.5em;
}

.email {
  border: 2px solid #fff;
}

.email.hasError {
  background-color: #fdd;
  border: 2px solid #f66;
}

/* FOOTER */
.footer {
  text-align: center;
}

.contact {
  margin-top: 2em;
  text-transform: uppercase;
}

.contact a {
  color: #444;
  display: block;
  padding: 0.2em;
  text-decoration: none;
}

.contact a:hover {
  color: #333;
}

#at_areau
{
    
    width: 15px;
    margin: 0px 2px;
    position: relative;
    top: 1px;
}

.social {
  margin: 2em 0 0 0;
}

.social .icon {
  display: inline-block;
  margin: 0 0.5em;


}

.social .icon #facebook {
  width: 40px;
  margin: inherit auto;
}

.social .icon #vimeo {
  width: 40px;
  margin: inherit auto;
}

/************** MUSIC ****************/

#music
{
    
}

#music_pauze,
#music_play
{
  bottom: 5%;
  position: absolute;
  right: 2%;
}

#music_pauze > img,
#music_play > img
{
    width: 25px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .intro video {
    display: block;
  }
    
  #logo_large
  {
    width: 400px;

  }    
}