/* GENERAL */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html, 
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
}

/* INTRO */
.intro {
  height: 100%;
  position: relative;
}

.intro video {
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  width: auto;
  z-index: -999;
}

.intro .subtitle {
  bottom: 5%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.intro .subtitle .fa {
  font-size: 3em;
}

/* CONTENT */
.content {}

.content .logo {
  margin-top: 100px;
  text-align: center;
}

.content form {
  margin: 50px auto 0;
  max-width: 500px;
  text-align: center;
}

.content form input,
.content form button {
  border: none;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.content form input {
  background-color: #fff;
}

.content form button {
  background-color: #999;
}